<%- include("./components/header")%>
    <div class="container">
        <h1 class="mb-4">Welcome to FaceBook</h1>
        <h5>Update your Post</h5>
        <form action=/feed/edit/<%= result._id %> method = "POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <textarea  name="name" id="name" class="form-control"><%= result.name %></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Message</label>
              <textarea name="message" class="form-control" id="message"><%= result.message %></textarea>
            </div>
            <a href=/feed/<%= result._id%> class="btn btn-outline-dark">Return</a>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
    <%- include("./components/footer")%>